<div class="timer">
  <div class="timer-display">
    {{display || '00:00:00'}}
  </div>
  <div>
    <button ng-show=" state === 'INIT' ||
                      state === 'STOPPED' ||
                      state === 'SUCCESS'"
            ng-click="startTimer()">
      Start
    </button>
    <button ng-show="state === 'RUNNING'" ng-click="stopTimer()">
      Stop
    </button>
    <button class="reset-button"
            ng-show="state === 'STOPPED'"
            ng-click="resetTimer()">
      Reset
    </button>
  </div>
  <div class="save-time" ng-show="state === 'STOPPED'">
    <div>
      <input  type="text"
              ng-model="time.tag"
              placeholder="Time tag (e.g. '200m')">
    </div>
    <button ng-click="save()">
      Save
    </button>
  </div>
  <div class="success-message" ng-show="state === 'SUCCESS'">
    Saved Successfully!
  </div>
</div>
